/*html{
    font-size: 62.5%;
}*/
body,div,p{
    margin: 0;
    padding: 0;
}
/*背景层*/
.jpub-div{
    display: none;
}
.jpub-form{
    display:block;
    position:fixed;
    top:100%;
    left:0;
    right:0;
    z-index:2014;
}
.jpub-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: black;
    opacity: 0.8;*/
    z-index: 2013;
}
/*弹出层*/
.jpub-center1{
    left: 50%;
    top:150px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.jpub-center2{
    /*left: 50%;*/
    top:150px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/*x(关闭)按钮*/
.jpub-close-span {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), radial-gradient(#f2f2f2, #cccccc);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -moz-radial-gradient(#f2f2f2, #cccccc);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -webkit-radial-gradient(#f2f2f2, #cccccc);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(#f2f2f2, #cccccc);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0 1px 1px rgba(191, 191, 191, 0.75), 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 1px rgba(191, 191, 191, 0.75), 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(191, 191, 191, 0.75), 0 2px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 2px solid #e6e6e6;
  color: #b3b3b3;
  /*float: right;*/
  height: 23px;
  width: 23px;
  text-indent: -9999px;
  position: fixed;;
  right: 2%;
  top:2%;
  outline: none;
  text-decoration: none;
  z-index: 2999;
}
.jpub-close-span::after {
  content: "\2716";
  text-indent: 0;
  display: block;
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 12px;
  font-weight: bolder;
  color: #848484;
}
.jpub-close-span:hover {
  color: #e6e6e6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), radial-gradient(#b3b3b3, #8c8c8c);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -moz-radial-gradient(#b3b3b3, #8c8c8c);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -webkit-radial-gradient(#b3b3b3, #8c8c8c);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(#b3b3b3, #8c8c8c);
  text-shadow: 0 -1px 0 rgba(153, 153, 153, 0.5);
  cursor: pointer;
}
.jpub-close-span:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), radial-gradient(#8c8c8c, #808080);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -moz-radial-gradient(#8c8c8c, #808080);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-radial-gradient(#8c8c8c, #808080);
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), radial-gradient(#8c8c8c, #808080);
  text-shadow: 0 -1px 0 rgba(26, 26, 26, 0.5);
  cursor: pointer;
}
/*渐入渐出效果*/
/*.jpub-animate{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition:all .5s ease;
}*/
/*弹出层样式*/
.jpub-target{
    margin: 0 auto;
    height: 15rem;
    width: 20rem;
    max-height: 40%;
    max-width: 90%;
    background-color: #eee;
    box-shadow: 0 0 0.2rem #666;
    border-radius: 6px;

}
.jpub-main-head{
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
}
.jpub-main-head-p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.3rem;
}
.jpub-main-body{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #fff;
}
.jpub-main-foot{
    width: 100%;
    height: 30%;
    background-color: #fff;
    text-align: center;
    /*line-height: 4.5rem;*/
    border-radius: 6px;
}
.jpub-btn{
    border-radius: 3px;
    border: none;
    color: #fff;
    height: 80%;
    width: 46%;
    font-weight: bold;
    font-size: 1.4rem;
    outline: none;
    margin-top: 0.4rem;

}
.jpub-btn-ok{
    background-color: #bd081c;
}
.jpub-btn-cancel{
    background-color: #555;
}
/*animate-in*/
.anime-in-0{
    -webkit-animation: anime-in-0 0.5s ease-out;
}
.anime-out-0{
    -webkit-animation: anime-out-0 0.5s ease-out;
}
/*animate*/
@-webkit-keyframes anime-in-0 {
    0% {
        -webkit-transform: scale(0,0);
        opacity: 0.1;
    }
    100% {
        -webkit-transform: scale(1,1);
        opacity: 1;
    }
}
@-webkit-keyframes anime-out-0 {
    0% {
        -webkit-transform: scale(1,1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0,0);
        opacity: 0.1;
    }
}
