/*html{
    font-size: 62.5%;
}*/
body,div,p{
    margin: 0;
    padding: 0;
}
/*背景层*/
.jpub-div{
    display: none;
}
.jpub-form{
    display:block;
    position:fixed;
    top:100%;
    left:0;
    right:0;
    z-index:2014;
}
.jpub-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: black;
    opacity: 0.8;*/
    z-index: 2013;
}
/*弹出层*/
/*.jpub-center1{
    left: 50%;
    top:150px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}*/
/*.jpub-center2{
    top:150px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}*/

/*渐入渐出效果*/
/*.jpub-animate{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition:all .5s ease;
}*/
/*弹出层样式*/
.jpub-target{
    margin: 0 auto;
    height: 15rem;
    width: 20rem;
    max-height: 40%;
    max-width: 90%;
    background-color: #eee;
    box-shadow: 0 0 0.2rem #666;
    border-radius: 6px;

}
.jpub-main-head{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
}
.jpub-main-head-p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    /*padding-top: 0.3rem;*/
}
.jpub-main-body{
    width: 100%;
    height: 50%;
    position: relative;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;

}
.jpub-main-body>div,.jpub-main-body>section{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}
.jpub-main-foot{
    width: 100%;
    height: 30%;
    background-color: #fff;
    text-align: center;
    /*line-height: 4.5rem;*/
    border-radius: 0 0 6px 6px;
}
.jpub-btn{
    border-radius: 3px;
    border: none;
    color: #fff;
    height: 80%;
    width: 46%;
    font-weight: bold;
    font-size: 1.4rem;
    outline: none;
    margin-top: 0.4rem;

}
.jpub-btn-ok{
    background-color: #bd081c;
}
.jpub-btn-cancel{
    background-color: #555;
}
/*****animate-in*****/
/*default*/
.anime-in-0{
    animation: anime-in-0 0.5s ease-out;
    -webkit-animation: anime-in-0 0.5s ease-out;
}

/*↑*/
.anime-in-1{
    animation: anime-in-1 0.5s ease-out;
    -webkit-animation: anime-in-1 0.5s ease-out;
}

/* →*/
.anime-in-2{
    animation: anime-in-2 0.5s ease-out;
    -webkit-animation: anime-in-2 0.5s ease-out;
}

/* ↓*/
.anime-in-3{
    animation: anime-in-3 0.5s ease-out;
    -webkit-animation: anime-in-3 0.5s ease-out;
}
/* ← */
.anime-in-4{
    animation: anime-in-4 0.5s ease-out;
    -webkit-animation: anime-in-4 0.5s ease-out;
}
/*animate-out*/
/*default*/
.anime-out-0{
    animation: anime-out-0 0.5s ease-out;
    -webkit-animation: anime-out-0 0.5s ease-out;
}

/*↓*/
.anime-out-1{
    animation: anime-out-1 0.5s ease-out;
    -webkit-animation: anime-out-1 0.5s ease-out;
}

/*←*/
.anime-out-2{
    animation: anime-out-2 0.5s ease-out;
    -webkit-animation: anime-out-2 0.5s ease-out;
}

/*↑*/
.anime-out-3{
    animation: anime-out-3 0.5s ease-out;
    -webkit-animation: anime-out-3 0.5s ease-out;
}

/* → */
.anime-out-4{
    animation: anime-out-4 0.5s ease-out;
    -webkit-animation: anime-out-4 0.5s ease-out;
}
/*animate-in*/
@keyframes anime-in-0 {
    0% {
        transform: scale(0,0);
        opacity: 0.1;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}
@-webkit-keyframes anime-in-0 {
    0% {
        -webkit-transform: scale(0,0);
        opacity: 0.1;
    }
    100% {
        -webkit-transform: scale(1,1);
        opacity: 1;
    }
}
@keyframes anime-in-1 {
    from{
        transform: translateY(100%);
    }
}
@-webkit-keyframes anime-in-1 {
    from{
        -webkit-transform: translateY(100%);
    }
}
@keyframes anime-in-2 {
    from{
        transform: translateX(-105%);
    }
}
@-webkit-keyframes anime-in-2 {
    from{
        -webkit-transform: translateX(-105%);
    }
}
@keyframes anime-in-3 {
    from{
        transform: translateY(-105%);
    }
}
@-webkit-keyframes anime-in-3 {
    from{
        -webkit-transform: translateY(-105%);
    }
}
@keyframes anime-in-4 {
    from{
        transform: translateX(105%);
    }
}
@-webkit-keyframes anime-in-4 {
    from{
        -webkit-transform: translateX(105%);
    }
}
/*animate-in*/
@keyframes anime-out-0 {
    0% {
        transform: scale(1,1);
        opacity: 1;
    }
    100% {
        transform: scale(0,0);
        opacity: 0.1;
    }
}
@-webkit-keyframes anime-out-0 {
    0% {
        -webkit-transform: scale(1,1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0,0);
        opacity: 0.1;
    }
}
@keyframes anime-out-1 {
    to{
        transform: translateY(200%);
    }
}
@-webkit-keyframes anime-out-1 {
    to{
        -webkit-transform: translateY(200%);
    }
}
@keyframes anime-out-2 {
    to{
        transform: translateX(-200%);
    }
}
@-webkit-keyframes anime-out-2 {
    to{
        -webkit-transform: translateX(-200%);
    }
}
@keyframes anime-out-3 {
    to{
        transform: translateY(-200%);
    }
}
@-webkit-keyframes anime-out-3 {
    to{
        -webkit-transform: translateY(-200%);
    }
}
@keyframes anime-out-4 {
    to{
        transform: translateX(200%);
    }
}
@-webkit-keyframes anime-out-4 {
    to{
        -webkit-transform: translateX(200%);
    }
}
